[submodule "MakefileSpinal"]
	path = SpinalSulfur/makefile-spinal
	url = git@github.com:liyuxuan3003/MakefileSpinal.git
	branch = master
[submodule "MagicLeda"]
	path = SpinalSulfur/magicleda
	url = git@github.com:liyuxuan3003/MagicLeda.git
	branch = master
